<?xml version="1.0"?>
<ruleset name="RMD Opening Hours">
	<description>Coding standards for the RMD Opening Hours plugin.</description>

	<arg value="ps"/>
	<arg name="basepath" value="./"/>
	<arg name="parallel" value="8"/>
	<arg name="extensions" value="php"/>

	<file>rmd-opening-hours.php</file>
	<file>uninstall.php</file>
	<file>includes</file>
	<file>src/blocks</file>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/build/*</exclude-pattern>

	<rule ref="WordPress-Extra">
		<!-- PSR-4 class files are named after the class. -->
		<exclude name="WordPress.Files.FileName"/>
		<!-- Short array syntax and short ternaries are fine on PHP 8.1+. -->
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
		<exclude name="Universal.Operators.DisallowShortTernary"/>
	</rule>
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="rmd-opening-hours"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="rmd_oh"/>
				<element value="RMD\OpeningHours"/>
				<element value="RMD_OH"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="allowed_custom_properties" type="array">
				<element value="ID"/>
			</property>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="6.8"/>
	<config name="testVersion" value="8.1-"/>
	<rule ref="PHPCompatibilityWP"/>
</ruleset>
