.rmd-oh-block-preview {

	.rmd-oh-editor-hint {
		margin: 0;
		padding: 12px 16px;
		border: 1px dashed currentcolor;
		border-radius: 2px;
		opacity: 0.75;
		font-size: 13px;
	}

	.components-spinner {
		margin: 8px;
	}
}
